@* USE CASE: About page - Team, Beliefs, Partners *@
@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
    var canvaEmbedUrl = "https://www.canva.com/design/DAHCQFKVf4I/_bNRQb2COdku2zne1lYB0A/view?embed";
}

<div style="width: 100%; height: calc(100vh - 64px);">
    <iframe
        src="@canvaEmbedUrl"
        title="About Us Canva Embed"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        allow="fullscreen"
        style="width: 100%; height: 100%; border: 0;"
        allowfullscreen>
    </iframe>
</div>
